.container {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 20px;
}

.game-container {
  width: 340px;
  height: 340px;
  border: 1px solid #000000;
  padding: 20px;
  margin: 0 auto;
}